<mat-list role="rowgroup">
  <mat-list-item *ngFor="let employee of employees">
    <div class="flex-stuff">
        <span>{{employee.fullName()}}</span>
        <span>{{employee.email}}</span>
        <span>${{employee.hourlyPay}} / Hour</span>
        <button class="icon-btn" mat-icon-button
          (click)="deleteEmployee(employee)">
          <mat-icon matListIcon>delete</mat-icon></button>
  </div>
  </mat-list-item>
</mat-list>
<button id="addNewEmployee" mat-fab color="primary"
  (click)="openDialog()">
  <mat-icon>add</mat-icon></button>