.flex-stuff {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

span {
    width: 100%;
}
#addNewEmployee {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

button.icon-btn {
    /*  */
    z-index: 4; 
}