<div *ngFor="let timeSheet of timeSheets">

  <mat-card class="flex-row" mat-ripple>
    <div class="timeSheet">

      <h3 class="name">{{timeSheet.employee.fullName()}} ${{timeSheet.totalPay()}}</h3>

      <mat-chip-list>
        <mat-chip><mat-icon>{{statusIcon(timeSheet.status())}}</mat-icon>&nbsp;{{timeSheet.status()}}</mat-chip>
      </mat-chip-list>

    </div>

    <div class="card-actions">
      <button mat-icon-button
          routerLink="/timesheets/{{timeSheet.id}}">
        <mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="warning"
          (click)="deleteTimeSheet(timeSheet)">
        <mat-icon>delete</mat-icon></button>
    </div>
  </mat-card>

</div>
<button id="addTimeSheet" mat-fab color="primary" aria-label="Add Time Sheet"
    (click)="openDialog()"><mat-icon>add</mat-icon></button>
