<h2>All Time Sheets</h2>
<div *ngFor="let timeSheet of timeSheets">
  <mat-card>
    <mat-card-title>{{timeSheet.employee.fullName()}} ${{timeSheet.totalPay()}} - {{timeSheet.status()}}</mat-card-title>
    <mat-card-content></mat-card-content>
    <button mat-button routerLink="/timesheets/{{timeSheet.id}}">View</button>
    <button mat-button color="warning"
      (click)="deleteTimeSheet(timeSheet)">Delete</button>
  </mat-card>
</div>
<button mat-raised-button color="primary"
    (click)="openDialog()">Add Time Sheet</button>
