<mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        <div *ngIf="activity.date; else newActivity">{{activity.date | date:'E MMM d'}}</div>
        <ng-template #newActivity>
          New Activity
        </ng-template>
      </mat-panel-title>
      <mat-panel-description>
        <div *ngIf="activity.pay">${{activity.pay}}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-form-field>
      <input [(ngModel)]="activity.date"
          matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="activity.hours" (blur)="calculatePay()"
          matInput placeholder="Hours" type="number">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="activity.description"
          matInput placeholder="Description" type="text">
    </mat-form-field>
    <br>
    <button mat-raised-button
    (click)="delete()">Remove</button>

</mat-expansion-panel>