mat-list-item {
    padding: 10px 0;
}

mat-panel-title {
    width: 30em;
    padding: 0 10px;
}

mat-panel-description {
    width: 100%;
}

mat-form-field, button {
    margin: 0 10px 10px 10px;
}
