<mat-list-item>
  
  <app-date-picker 
      placeholder="Date"
      [(ngModel)]="activity.date"
      format="YYYY/MM/DD HH:mm:ss">
  </app-date-picker>

  <mat-form-field>
    <input [(ngModel)]="activity.hours" (blur)="calculatePay()"
        matInput placeholder="Hours" type="number">
  </mat-form-field>

  <div *ngIf="activity.pay">${{activity.pay}}</div>

  <mat-form-field>
    <input [(ngModel)]="activity.description"
        matInput placeholder="Description" type="text">
  </mat-form-field>

  <button mat-icon-button
  (click)="delete()" color="primary"><mat-icon>clear</mat-icon></button>

  <button mat-icon-button
  (click)="add()"><mat-icon>add</mat-icon></button>

</mat-list-item>